body {
    background-color: #323437;
}

.preview {
    background-color: #2d2f31;
    color: #d1d0c5;
}

.editer {
        background-color: #2d2f31;
        color: #fff;
}
.text-center {
    /* color: #d1d0c5; */
    color: #e2b714;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}