body {
    background-color: #323437;
}

.preview {
    background-color: #fff;
    
}

.editor {
        background-color: #fff;
        color: #fff;
}
.text-center {
    /* color: #d1d0c5; */
    color: #e2b714;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.h6-text{
    color: #fff;
    letter-spacing: 0.8px;
}
textarea, .preview {
    min-height: 400px
}